## linting and unit tests
flake8==7.2.0
pytest==8.4.0
# notebook==6.5.7
nbval==0.11.0

## convert notebooks to markdown
nbconvert==7.16.6

## for jupyterlite
pydantic<2.0
# Core modules (mandatory)
jupyterlite-core==0.6.1
jupyterlab~=4.4.3
notebook~=7.4.3

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.6.1
